*.exe
**/*.o
**/*.obj
*.dll

*tmp*

# python
.venv
# node
env
a.out
# VS Code
.vscode

# Original binary, Ghidra dumps
*.gpr
*.rep
*.lock
*.lock~
SWEP1RCR*
!SWEP1RCR_dump.c
!SWEP1RCR_dump_original.c

DAT_.txt
strings.txt

# Download the vcpp5 iso for initial compiler configuration here: https://winworldpc.com/product/visual-c/5x
vcpp5.iso
